
*{
    font-family: Times New Roman;
}
.container{
	background-color: #E8F2DE;
}

.title{
	padding-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.date{
	display: inline-block;
}

.totals{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	position: relative;
}
.table {
    width: 30%;
    border-collapse: collapse;
    margin: 10px 0;
}

.table th, .table td {
    border: 1.5px solid black;
    padding: 10px;
    text-align: left;
}

#empty-cell {
    border: 0px;
}



.exit{
	padding: 5px;
	margin-top: 50px;
	color: white;
	border: none;
	font-size: 1.1rem;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 30%; 
	width: 10%; 
	background-color: #444;
}

.exit:hover {
 background-color: black;
}

.cancel {
	padding: 5px;
	margin-top: 50px;
	background-color: #ff0000;
	color: #fff;
	border: none;
	font-size: 1.1rem;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 30%; 
	width: 10%; 

}

/* Modal Background */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalEx {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.closeEx {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.modal-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-btn {
  background-color: #4CAF50;
  color: white;
}

#cancel-btn {
  background-color: #f44336;
  color: white;
}

#confirmEx {
  background-color: #4CAF50;
  color: white;
}

#cancelEx{
  background-color: #f44336;
  color: white;
}